/*General Stylings*/

:root {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 20px;
  --accent-color1: #483d8b;
  --accent-color2: #ff8c00;
  --bg-category-color: #00bfff;
  --color-publish-info: #7f7f7f;
  --fontsize-general: 1rem;
}
.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  gap: 0px 0px;
  grid-template-areas:
    "header header"
    "first-card second-card";
}

/*Specific Stylings*/

.heading {
  grid-area: header;
  margin: 1rem;
}

.container-card {
  display: grid;
  padding: 1rem;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  grid-area: first-card;
  max-width: 400px;
  height: 650px;
  border: solid black 3px;
  padding: 1rem;
  border-radius: 0.75rem;
}

.first-card {
  box-shadow: 0.75rem 0.35rem var(--accent-color1);
}

.second-card {
  box-shadow: 0.75rem 0.35rem var(--accent-color2);
}

.cover-photo {
  align-self: center;
  width: 20rem;
  height: 10rem;
  margin: 0.25rem 1rem 1.5rem;
  border-radius: 0.25rem;
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 0.75rem;
  font-size: 0.75rem;
}

.date {
  position: relative;
  color: var(--color-publish-info);
}

.author-picture {
  border-radius: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

.author {
  color: var(--color-publish-info);
}

.category-buttons {
  background-color: var(--bg-category-color);
  border: none;
  padding: 0.25rem;
  font-size: 0.75rem;
  border-radius: 0.75rem;
  width: 4rem;
}

.read-button {
  border: none;
  flex-direction: row;
  justify-content: flex-start;
  align-self: flex-start;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

.first-card .read-button {
  background-color: var(--accent-color1);
}

.second-card .read-button {
  background-color: var(--accent-color2);
}

.first-card .date {
  right: 6.5rem;
}

.second-card .date {
  right: 6rem;
}

.card h2 {
  align-self: flex-start;
  margin: 1.5rem 0rem 0.5rem;
}

.first-card .author-picture {
  border: solid 0.25rem var(--accent-color1);
}

.second-card .author-picture {
  border: solid 5px var(--accent-color2);
}
